
.top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin:20px 0px;
}
/*--------------------------검색란-------------------------*/
.keykeyword{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.css-65avyl{
   padding: 110px 0px !important;
}
.css-g1cux0 {

    padding-top: 20px!important;
}

.css-1iyq7zh-MuiDataGrid-columnHeaders{
background-color: aliceblue;
}
