.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop{
    background-color: rgb(0 0 0 / 0%)!important;
}
.css-cveggr-MuiListItemIcon-root {

     color: rgb(219 223 235)!important; }



.css-6h1dhi-MuiDataGrid-root .MuiDataGrid-row.Mui-selected {
    background-color: rgb(25 118 210 / 0%)!important;}

.MuiDataGrid-root .MuiDataGrid-cell:focus {
     outline: none!important;
 }

 .css-wf16b5 {
     background-color: #0c5272!important; }