/*-----------테이블 css------------*/
.tableTitle{
    background-color: #F0F8FF;
}


/*-----------모달 css------------*/
.LeaveButton, #nullLR{
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #F0F8FF;
    box-shadow: 2px 2px 2px #c8d0d6;
}

.modalBox{
     position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 500px;
      background-color: #F0F8FF;
      border : none;
      border-radius:10px;
}

#child-modal-title{
    color : #2196F3;
    margin-left : 20px;
}

.requestReason{
    background-color: #F0F8FF;
}

.modalBoxCon{
    margin : 5px 5px;
}

.modalBoxCon div{
    margin : 5px 0px;
}

.lstart , .lend{
    margin-left : 5px;
}

.modalButton{
    background-color: #0c5272;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    margin: 10px;
    padding: 13px 100px;
}
/*-----------------연차내역------------------*/
.topDiv{
    width : 100%;
    height : 10%;
    display: flex;
    justify-content: space-between
}
.pstate{
    border: none;
    border-radius: 10px;
    margin-left: 37px;
    padding: 3px 33px;
    background-color: #F0F8FF;
    box-shadow: 2px 2px 2px #c8d0d6;
}
#countYn{
    color : #2196F3;
    font-size : 25px;
}
.deducted{
    color : #F0F8FF;
    font-size : 12px;
}
#yn{
    color : #0C5272;
    font-size : 25px;
}